:root{
   --o1: #f8853e;
   --o2: #f99A54;
   --o3:#faaf6a;
   --o4: #fcc47f;
   --o5: #fdd995;
   --o6: #feeeab;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-title{
    background-color:var(--o6) ;
    color: var(--o1);
    text-align: center;
    width: 100%;
    height: 7vh;
    padding: 1rem 0;
}
.game-info{
    background-color: var(--o2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
}
#result{
    padding: 0 2rem;
    color:var(--o6);
    font-size: 2rem;
}
.main-game-area{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    align-items: center;
    width: 100%;
    height: 80vh;
    overflow: auto;
}
.play-area{
    background-color: var(--o2);
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;

}
.bot{
    margin: 2rem 0;
    width: 10rem;
    height: 10rem;
    background-color: var(--o5);
    border: 2px solid red;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.user{
    margin: 2rem 0;
    width: 10rem;
    height: 10rem;
    background-color: var(--o5);
    border: 2px solid green;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.user-options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-selection{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width:33%;
    height: 9rem;
    background-color: var(--o5);
    border: 1px solid var(--o2);
    border-radius: 20%;
    z-index: 2;
    transition: all 0.5s ease;
}
.user-selection:hover{
    background-color: var(--o6);
    border: 1px solid var(--o6);
    box-shadow: 0px 0px 8px 6px var(--o1);
}
.user-selection img{
    aspect-ratio: 3/2;
    object-fit: contain;
    max-width: 70%;
    max-height: 80%;
}
.score-area{
    background-color: var(--o5);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;
}
.score{
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    background-color: var(--o6);
    border: 2px solid black;
}
.game-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: var(--o2);
}
button{
    display: none;
    font-size: large;
    width: 10rem;
    height: fit-content;
    padding: 10px;
    margin: 1rem;
    font-size: 2rem;
    color: var(--o1);
    background-color: var(--o6);
    border: 2px solid var(--o1);
    border-radius: 10px;
    transition: all 0.5s ease;
}
button:hover{
    box-shadow: 0px 0px 10px 8px var(--o4);
    border-radius: 5px;
}
#user-move-img{
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 0;
    height: 0;
    /* border: 2px solid black; */
    transition: all 0.5s ease-in-out;
    z-index: 3;
}
#bot-move-img{
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 0; 
    height: 0;
    /* border: 2px solid black; */
    transition: all 0.5s ease-in-out;
    transform: rotate(180deg);
    z-index: 3;
}
#animation-gif{
    width: 10rem;
    height: 10rem;
    border: none;
    position: relative  ;
    left: -500px;
    transition: all 0.5s ease;
}


@media screen and (max-width: 500px){
    .game-info{
      font-size:0.6rem;
    }
    .user-options{
        width: 95%;
        height: 30%;
    }
    .bot{
        width: 9rem;
        height: 9rem;
    }
    .user{
        width: 9rem;
        height: 9rem;
    }
    button{
       width: 5rem;
       height: 4rem;
        margin: 1rem;
        font-size: 0.9rem;
    }
    .score{
        width: 40%;
        height: 1%;
        text-align: center;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 50%;
    }
}